<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="../static/photo/oderman.jpg">
  <title>Oderman</title>
</head>
<body>
  <div class="black-box">
    <div>
      <a style="margin: 0;" href="{{ url_for('menu_page') }}">Меню</a>
      <p style="margin: 0;">Номер телефону: +1 234 567 890</p>
    </div>
    <h1>Oderman</h1>
  </div>
  <img src="../static/photo/oderman.jpg" alt="Oderman logo photo" class="my-photo">
</body>
</html> 
