<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="../static/photo/oderman.jpg">
  <title>Menu</title>
</head>
<body>
  <table>
    <tr>
      <th>Піца</th>
      <th>Опис</th>
      <th>Ціна</th>
    </tr>
    <tr>
      <td>Піца з телятиною і томатами</td>
      <td>Помідори, Моцарела, Цибуля, Соус Часниковий, Телятина</td>
      <td>249.00 грн</td>
    </tr>
    <tr>
      <td>Піца з в’яленими томатами та куркою</td>
      <td>В’ялені томати, Курка, Моцарела, Соус Альфредо, Фета, Шпинат</td>
      <td>339.00 грн</td>
    </tr>
    <tr>
      <td>Піца солодка</td>
      <td>Мигдаль, Шоко паста,  Моцарела, банан</td>
      <td>288.00 грн</td>
    </tr>
    <tr>
      <td>Піца з грушею і блакитним сиром</td>
      <td>Бергадер Блю, Моцарела, Груша, Соус, Альфредо</td>
      <td>295.00 грн</td>
    </tr>
    <tr>
      <td>Піца Біф енд Кріспі</td>
      <td>Огірки мариновані, Болгарський перець, Соус Барбекю, Моцарела, Помідори, Кріспі цибулька</td>
      <td>329.00 грн</td>
    </tr>
    <tr>
      <td>Піца Діабло</td>
      <td>Моцарела, Помідори, Пепероні, Соус Domino's, Халапеньо, Чорізо</td>
      <td>329.00</td>
    </tr> 
    <tr>
      <td>Піца з індичкою</td>
      <td>Моцарела, Соус Альфредо, Індичка</td>
      <td>319.00 грн</td>
    </tr>
    <tr>
      <td>Піца Техас</td>
      <td>Соус Барбекю, Моцарела, Цибуля, Ковбаси баварські, Кукурудза, Гриби</td>
      <td>269.00</td>
    </tr>
    <tr>
      <td>Піца Пепероні з томатами</td>
      <td>Соус Барбекю, Моцарела, Помідори, Пепероні</td>
      <td>249.00</td>
    </tr>
  </table>
  <a href="{{ url_for('home_page') }}" class="button">Повернутися на головну сторінку</a>
</body>
</html>
